@model  IList<WebModelServices.BookModel.ViewModel.BookViewModel>

<p>
    

</p>
@(Html.Kendo().Grid<WebModelServices.BookModel.ViewModel.BookViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Author)
              .Width(240);
            columns.Bound(c => c.Title);
            columns.Bound(c => c.ISBN);
            columns.Bound(c => c.ReleaseDate).Width(150);
            columns.Bound(c => c.BookGenre).Width(150);
            columns.Command(command => command.Custom("Edit").Click("showEditView")).Width(150);
            columns.Command(command => command.Custom("Details").Click("showDetailsView")).Width(150);
           
        
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("AllBooks", "Book"))
            .PageSize(20)
        )
)
<button type="button" class="myButton" onclick="showAddView()">Add</button>
<p id="myPar"> button on </p>

@(Html.Kendo().Window().Name("AddNewBook")
    .Title("Add Book")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)
    .Events(e =>    
        e.Close("onClose")
    )
    .Actions(a => a.Custom("custom"))
)

@(Html.Kendo().Window().Name("EditBook")
    .Title("Edit Book")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)
    .Actions(a => a.Custom("custom"))
)
@(Html.Kendo().Window().Name("BookDetails")
    .Title("Book Details")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)
    .Actions(a => a.Custom("custom"))
)
<script type="text/x-kendo-template" id="template">
    <div id="d">
        
    </div>
</script>

<script type="text/javascript">

    $(document).on("click", ("#backToList"), function ()
    {
            $(this).closest("#BookDetails").data("kendoWindow").close();
    })

    $(document).on("click",("#addBookCloseButton"),function () {
            var emptyString = "";
            var wnd = $("#books").closest("#AddNewBook").data("kendoWindow");
            wnd.close();
            wnd.content(emptyString);
    })
    $(document).on("click", ("#editBookCancelButton"), function () {
            var emptyString = "";
            var wnd = $("#EditBook").data("kendoWindow");
            wnd.close();
            wnd.content(emptyString);
    })
    $(document).on("click",("#saveButton"),function () {
            var formData = $('#editBookForm').serialize();
            $.post('@Url.Action("EditBook")', formData, function (data, status) {

                
                if (data.isDone) {
                    $("#editBookForm").closest("#EditBook").data("kendoWindow").close();
                    $('#grid').data('kendoGrid').dataSource.read();
                    $('#grid').data('kendoGrid').refresh();
                }

                else
                    $("#editBookForm").parents("#EditBook").html(data);
            })
      })
      function showAddView() {
            var wnd = $("#AddNewBook").data("kendoWindow");
            var url = '@Url.Action("AddBook", "Book")';
            $.get(url, function (data) {
                var wnd = $("#AddNewBook").data("kendoWindow");
                wnd.content(data);
                wnd.center().open();
            })  
        }
      function showEditView(e) {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var bookId = dataItem.BookId;
            var url = '@Url.Action("EditBook", "Book")' + "/" + bookId;
            $.get(url, function (data) {
                var wnd = $("#EditBook").data("kendoWindow");
                wnd.content(data);
                wnd.center().open();
            })
      }
      function showDetailsView(e) {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var bookId = dataItem.BookId;
            var url = '@Url.Action("BookDetails", "Book")' + "/" + bookId;
            $.get(url, function (data) {
                debugger;
                var wnd = $("#BookDetails").data("kendoWindow");
                wnd.content(data);
                wnd.center().open();
            })
       }
       function onClose() {
            var emptyString = "";
            var wnd = $("#books").closest("#AddNewBook").data("kendoWindow");
            wnd.content(emptyString);
        }
</script>

<style type="text/css">
    #details-container {
        padding: 10px;
    }

        #details-container h2 {
            margin: 0;
        }

        #details-container em {
            color: #8c8c8c;
        }

        #details-container dt {
            margin: 0;
            display: inline;
        }
</style>

<style>
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>