@model IList<WebModelServices.BorrowModel.ViewModel.BorrowsViewModel>

@(Html.Kendo().Grid<WebModelServices.BorrowModel.ViewModel.UserWithBorrowsViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.FirstName)
              .Width(240);
            columns.Bound(c => c.LastName);
            columns.Bound(c => c.BookName);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetUsersWithBorrows", "Borrow"))
            .PageSize(20)
        )
)

@(Html.Kendo().Grid<WebModelServices.BorrowModel.ViewModel.BorrowedBookViewModel>()
        .Name("grid1")
        .Columns(columns =>
        {
            columns.Bound(c => c.Title)
              .Width(240);
            columns.Bound(c => c.Author);
            columns.Bound(c => c.FromDate);
            columns.Bound(c => c.ToDate);
            columns.Bound(c => c.ISBN);
            columns.Bound(c => c.UserName);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetBorrowedBook", "Borrow"))
            .PageSize(20)
        )
)
@(Html.Kendo().Button()
            .Name("AddBorrow")
            .Tag("a")
            .Content("Add New Borrow"))
@*<button type="button" class="myButton" onclick="showAddView()">Add Borrow</button>
<p id="myPar"> button on </p>*@

@(Html.Kendo().Window().Name("AddNewBorrow")
    .Title("Add Book")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)
    //.LoadContentFrom("AddBook", "Book")
)
@*@(Html.Kendo().Window().Name("EditBook")
    .Title("Edit Book")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)
//.LoadContentFrom("EditBook", "Book")
)
@(Html.Kendo().Window().Name("BookDetails")
    .Title("Book Details")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)
//.LoadContentFrom("BookDetails", "Book")
)*@

<script type="text/x-kendo-template" id="template">
    <div id="d">
        <p>Add WIndow</p>
        <p>Add WIndow</p>
    </div>
</script>

<script type="text/javascript">

    $(document).on("click",("#AddBorrow"),function showAddNewBorrowView(e) {
        
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var bookId = dataItem.BookId;
        var url = '@Url.Action("AddNewBorrow", "Borrow")';
        $.get(url, function (data) {
            var wnd = $("#AddNewBorrow").data("kendoWindow");
            wnd.content(data);
            debugger;
            wnd.center().open();
        })
    })

    @*$(document).on("click", ("#backToList"), function ()
    {
        $(this).closest("#BookDetails").data("kendoWindow").close();
    })
    $(document).on("click",("#saveButton"),function () {


            var formData = $('#editBookForm').serialize();

            $.post('@Url.Action("EditBook")', formData, function (data, status) {

                // alert(data);
                if (data.isDone) {
                    $("#editBookForm").closest("#EditBook").data("kendoWindow").close();
                    $('#grid').data('kendoGrid').dataSource.read();
                    $('#grid').data('kendoGrid').refresh();
                }

                else
                    $("#editBookForm").parents("#EditBook").html(data);
            });
        }
    )

        function showAddView() {
            var wnd = $("#AddNewBook").data("kendoWindow");
            $("#myPar").hide();
            wnd.center().open();
        };
        function showEditView(e){

            debugger;
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var bookId = dataItem.BookId;
            var url = '@Url.Action("EditBook", "Book")' + "/" + bookId;
            var wnd = $("#EditBook").kendoWindow(
                {
                    title : "Edit Book",
                    visible : false,
                    modal: true,
                    draggable: true,
                    content : url

                }).data("kendoWindow").title("EditBook");


            wnd.center().open();
        };*@
        

</script>

<style type="text/css">
    #details-container {
        padding: 10px;
    }

        #details-container h2 {
            margin: 0;
        }

        #details-container em {
            color: #8c8c8c;
        }

        #details-container dt {
            margin: 0;
            display: inline;
        }
</style>

<style>
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>